doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block content
      .col-md-12
        .col-md-2
          a(href='/') Prabhat
        .col-md-2
          a(href='/mother') Mother
        .col-md-2
          a(href='/father') Father
        .col-md-2
          a(href='/sister') Sister